Checks: >
  performance-*,
  modernize-*,
  bugprone-*,
  -clang-analyzer-alpha.*,
  -fuchsia-*,
  -llvm-*,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: '*'
HeaderFilterRegex: '^.*/learning_llvm/(src|include)/.*\.(h|hpp|cxx|cpp)$'

